.panel-ok {
    border-color: #678476;
}
.panel-ok>.panel-heading {
    color: #fff;
    background-color: #81A594;
    border-color: #9AB7A9;
}
.panel-error {
    border-color: #904040;
}
.panel-error>.panel-heading {
    color: #fff;
    background-color: #b55151;
    border-color: #c37373;
}
.btn-ok {
    color: #fff;
    background-color: #81A594;
    border-color: #678476;
}
.btn-ok:hover {
    color: #fff;
    background-color: #678476;
    border-color: #81A594;
}


/*
****************************
* Change placeholder color
****************************
*/
input::-webkit-input-placeholder {
    color: #81A594 !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #81A594 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #81A594 !important;
}

input:-ms-input-placeholder {
    color: #81A594 !important;
}

textarea::-webkit-input-placeholder {
    color: #81A594 !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
    color: #81A594 !important;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #81A594 !important;
}

textarea:-ms-input-placeholder {
    color: green !important;
}


/* hr */

hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}