<!DOCTYPE html>
<html>
<head>
	<title>FLAT PLUS Template (v1.2.3)</title>
	
	<!-- Meta -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

	 
	
	<!-- 
	**********************************************************
	In development, use the LESS files and the less.js compiler
	instead of the minified CSS loaded by default.
	**********************************************************
	-->

		<!-- <link rel="stylesheet/less" href="../assets/less/docs/module.docs.page.index.component.messages.less" /> -->

	<link rel="stylesheet" href="../assets/css/docs/module.docs.page.index.component.messages.min.css" />

	
	
	<script src="../assets/components/library/jquery/jquery.min.js?v=v1.2.3"></script>
<script src="../assets/components/library/jquery/jquery-migrate.min.js?v=v1.2.3"></script>
<script src="../assets/components/library/modernizr/modernizr.js?v=v1.2.3"></script>
<script src="../assets/components/plugins/less-js/less.min.js?v=v1.2.3"></script>
<script src="../assets/components/modules/admin/charts/flot/assets/lib/excanvas.js?v=v1.2.3"></script>
<script src="../assets/components/plugins/browser/ie/ie.prototype.polyfill.js?v=v1.2.3"></script>
<script src="../assets/components/library/angular/angular.min.js?v=v1.2.3"></script>
</head>
<body id="docs">
<!-- Fixed navbar -->
<div class="navbar navbar-default margin-none">
  <!-- <div class="container"> -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FLAT PLUS Documentation - t h e m e l o c k . c o m</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Core packages <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="component.core.minimal.html">Minimal</a></li>
            <li><a href="component.core.html">Complete</a></li>
          </ul>
        </li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">Default</a></li>
        <li><a href="../navbar-static-top/">Static top</a></li>
        <li class="active"><a href="./">Fixed top</a></li>
      </ul> -->
    </div><!--/.nav-collapse -->
  <!-- </div> -->
</div>

<div class="innerAll">
<div class="widget widget-tabs">
	<div class="widget-body">

		<div class="row">
			<div class="col-md-3" ng-app="App" ng-controller="ComponentsCtrl" ng-init="search = 'messages'">
				<input class="form-control" type="text" ng-model="search" placeholder="Search .." />
				<tree collection="components" search="search"></tree>
			</div>
			<div class="col-md-9">
										
						<div class="jumbotron center">
							<h1>component.messages</h1>
						</div>

													<h4 class="separator bottom"><a href="#view-a8a31bca32b316f6a734e97e00b477ef" data-toggle="collapse">messages</a></h4>
							<div class="collapse in" id="view-a8a31bca32b316f6a734e97e00b477ef">
								<div class="widget widget-tabs">
									<div class="widget-head padding-none">
										<ul>
											<li class="active"><a href="#preview-a8a31bca32b316f6a734e97e00b477ef" data-toggle="tab">Preview</a></li>
											<li><a href="#source-a8a31bca32b316f6a734e97e00b477ef" data-toggle="tab">Source</a></li>
											<li><a href="#styles-a8a31bca32b316f6a734e97e00b477ef" data-toggle="tab">Styles</a></li>											<li><a href="#scripts-a8a31bca32b316f6a734e97e00b477ef" data-toggle="tab">Scripts</a></li>										</ul>
										<a href="../docs/examples/messages.html" target="_blank" class="pull-right btn btn-success">Live Example</a>
									</div>
									<div class="widget-body">
										<div class="tab-content">
											<div class="tab-pane active" id="preview-a8a31bca32b316f6a734e97e00b477ef">
												<!-- Widget -->
<div class="widget widget-messages widget-heading-simple widget-body-white">
	<div class="widget-body padding-none">
		
		<div class="row row-merge borders">
			<div class="col-md-3 listWrapper">
				<div class="innerAll">
					<form autocomplete="off" class="form-inline margin-none">
						<div class="input-group input-group-sm">
							<input type="text" class="form-control" placeholder="Find someone .." />
							<span class="input-group-btn">
								<button type="button" class="btn btn-primary btn-xs pull-right"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</form>
				</div>
				<span class="results">1490 messages <i class="fa fa-circle-arrow-down"></i></span>
				<ul class="list unstyled">
															<li class="active">
						<div class="media innerAll">
							<div class="media-object pull-left thumb hidden-phone"><img data-src="holder.js/50x50/dark" alt="Image" /></div>
							<div class="media-body">
								<span class="strong">adrian</span>
								<small>Latest comment line...</small><br/>
								<small class="text-italic text-primary-light"><i class="fa fa-calendar fa fa-fixed-width"></i> 17 days ago</small>
							</div>
						</div>
					</li>
										<li>
						<div class="media innerAll">
							<div class="media-object pull-left thumb hidden-phone"><img data-src="holder.js/50x50/dark" alt="Image" /></div>
							<div class="media-body">
								<span class="strong">bogdan</span>
								<small>Latest comment line...</small><br/>
								<small class="text-italic text-primary-light"><i class="fa fa-calendar fa fa-fixed-width"></i> 17 days ago</small>
							</div>
						</div>
					</li>
										<li>
						<div class="media innerAll">
							<div class="media-object pull-left thumb hidden-phone"><img data-src="holder.js/50x50/dark" alt="Image" /></div>
							<div class="media-body">
								<span class="strong">susanne</span>
								<small>Latest comment line...</small><br/>
								<small class="text-italic text-primary-light"><i class="fa fa-calendar fa fa-fixed-width"></i> 17 days ago</small>
							</div>
						</div>
					</li>
									</ul>
			</div>
			<div class="col-md-9 detailsWrapper">
				<div class="ajax-loading hide">
					<i class="fa fa-refresh text-primary-light fa fa-spin fa fa-4x"></i>
				</div>
				<div class="innerAll">
					<div class="row">
						<div class="col-md-9">
							<h4 class="margin-none">
								<a href="" class="btn btn-info"><i class="fa fa-user fa fa-fixed-width"></i> Bogdan</a>
							</h4>
						</div>
						<div class="col-md-3 text-right">
							<a href="" class="text-size-regular text-primary-light vertical-middle"><i class="fa fa-flag fa fa-fixed-width"></i> Report</a>
						</div>
					</div>
				</div>
				<a href="" class="load border-top ">Load earlier messages <i class="fa fa-refresh innerL third"></i></a>
				
				<div class="row row-merge borders border-top">
					<div class="col-md-12">
						<div class="innerAll">
							<div class="media">
								<a href="" class="thumb pull-left visible-md visible-lg"><img data-src="holder.js/50x50/white" alt="Image" class="media-object" /></a>
								<div class="media-body">
									<small class="pull-right text-primary-light"><i class="fa fa-calendar fa fa-fixed-width"></i> July 8, 2013 <em>12:38 pm</em></small>
									<strong class="text-primary">adrian</strong><br/>
									<small>Hello bogdan. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, reiciendis soluta libero eligendi fuga quam nam tempora illum iste atque hic eveniet vel accusantium ad quisquam a sequi impedit cumque! Autem, ipsam esse officia amet.</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-merge borders border-bottom">
					<div class="col-md-12">
						<div class="innerAll">
							<div class="media">
								<a href="" class="thumb pull-left visible-md visible-lg"><img data-src="holder.js/50x50/white" alt="Image" class="media-object" /></a>
								<div class="media-body">
									<small class="pull-right text-primary-light"><i class="fa fa-calendar fa fa-fixed-width"></i> July 8, 2013 <em>12:38 pm</em></small>
									<strong class="text-primary">bogdan</strong><br/>
									<small>Hello adrian. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, reiciendis soluta libero eligendi fuga quam nam tempora illum iste atque hic eveniet vel accusantium ad quisquam a sequi impedit cumque! Autem, ipsam esse officia amet.</small>
								</div>
							</div>
						</div>
					</div>
				</div>

				<span href="" class="load"><i class="fa fa-calendar innerR third"></i>Today</span>

				<div class="row row-merge borders border-top">
					<div class="col-md-12">
						<div class="innerAll">
							<div class="media">
								<a href="" class="thumb pull-left visible-md visible-lg"><img data-src="holder.js/50x50/white" alt="Image" class="media-object" /></a>
						
								<div class="media-body">
									<small class="pull-right text-primary-light"><i class="fa fa-calendar fa fa-fixed-width"></i> <em>12:38 pm</em></small>
									<strong class="text-primary">adrian</strong><br/>
									<small>Hello bogdan. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, quos soluta cupiditate dolor nobis id!</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-merge borders border-bottom">
					<div class="col-md-12">
						<div class="innerAll">
							<div class="media">
								<a href="" class="thumb pull-left visible-md visible-lg"><img data-src="holder.js/50x50/white" alt="Image" class="media-object" /></a>
								<div class="media-body">
									<small class="pull-right text-primary-light"><i class="fa fa-calendar fa fa-fixed-width"></i> <em>12:38 pm</em></small>
									<strong class="text-primary">bogdan</strong><br/>
									<small>Hello adrian. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quas alias voluptatum odit nemo consequuntur blanditiis praesentium pariatur vitae dolore earum saepe dolorum maiores vero fuga sequi quibusdam labore optio doloribus consectetur laudantium in id quae nostrum dignissimos quidem voluptatibus!</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="innerAll">
					<form role="form">
						<div class="form-group">
							<textarea placeholder="Type in your message .. " class="form-control" rows="5"></textarea>
						</div>
						<div class="form-group">
							<div class="text-right">
								<button type="button" class="btn btn-primary">Send <i class="fa-fw fa fa-envelope"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>
</div>
<!-- // Widget END -->

											</div>
											<div class="tab-pane" id="source-a8a31bca32b316f6a734e97e00b477ef">
												<pre class="prettyprint">&lt;!-- Widget --&gt;
&lt;div class=&quot;widget widget-messages widget-heading-simple widget-body-white&quot;&gt;
	&lt;div class=&quot;widget-body padding-none&quot;&gt;
		
		&lt;div class=&quot;row row-merge borders&quot;&gt;
			&lt;div class=&quot;col-md-3 listWrapper&quot;&gt;
				&lt;div class=&quot;innerAll&quot;&gt;
					&lt;form autocomplete=&quot;off&quot; class=&quot;form-inline margin-none&quot;&gt;
						&lt;div class=&quot;input-group input-group-sm&quot;&gt;
							&lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Find someone ..&quot; /&gt;
							&lt;span class=&quot;input-group-btn&quot;&gt;
								&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-xs pull-right&quot;&gt;&lt;i class=&quot;fa fa-search&quot;&gt;&lt;/i&gt;&lt;/button&gt;
							&lt;/span&gt;
						&lt;/div&gt;
					&lt;/form&gt;
				&lt;/div&gt;
				&lt;span class=&quot;results&quot;&gt;1490 messages &lt;i class=&quot;fa fa-circle-arrow-down&quot;&gt;&lt;/i&gt;&lt;/span&gt;
				&lt;ul class=&quot;list unstyled&quot;&gt;
															&lt;li class=&quot;active&quot;&gt;
						&lt;div class=&quot;media innerAll&quot;&gt;
							&lt;div class=&quot;media-object pull-left thumb hidden-phone&quot;&gt;&lt;img data-src=&quot;holder.js/50x50/dark&quot; alt=&quot;Image&quot; /&gt;&lt;/div&gt;
							&lt;div class=&quot;media-body&quot;&gt;
								&lt;span class=&quot;strong&quot;&gt;adrian&lt;/span&gt;
								&lt;small&gt;Latest comment line...&lt;/small&gt;&lt;br/&gt;
								&lt;small class=&quot;text-italic text-primary-light&quot;&gt;&lt;i class=&quot;fa fa-calendar fa fa-fixed-width&quot;&gt;&lt;/i&gt; 17 days ago&lt;/small&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/li&gt;
										&lt;li&gt;
						&lt;div class=&quot;media innerAll&quot;&gt;
							&lt;div class=&quot;media-object pull-left thumb hidden-phone&quot;&gt;&lt;img data-src=&quot;holder.js/50x50/dark&quot; alt=&quot;Image&quot; /&gt;&lt;/div&gt;
							&lt;div class=&quot;media-body&quot;&gt;
								&lt;span class=&quot;strong&quot;&gt;bogdan&lt;/span&gt;
								&lt;small&gt;Latest comment line...&lt;/small&gt;&lt;br/&gt;
								&lt;small class=&quot;text-italic text-primary-light&quot;&gt;&lt;i class=&quot;fa fa-calendar fa fa-fixed-width&quot;&gt;&lt;/i&gt; 17 days ago&lt;/small&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/li&gt;
										&lt;li&gt;
						&lt;div class=&quot;media innerAll&quot;&gt;
							&lt;div class=&quot;media-object pull-left thumb hidden-phone&quot;&gt;&lt;img data-src=&quot;holder.js/50x50/dark&quot; alt=&quot;Image&quot; /&gt;&lt;/div&gt;
							&lt;div class=&quot;media-body&quot;&gt;
								&lt;span class=&quot;strong&quot;&gt;susanne&lt;/span&gt;
								&lt;small&gt;Latest comment line...&lt;/small&gt;&lt;br/&gt;
								&lt;small class=&quot;text-italic text-primary-light&quot;&gt;&lt;i class=&quot;fa fa-calendar fa fa-fixed-width&quot;&gt;&lt;/i&gt; 17 days ago&lt;/small&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/li&gt;
									&lt;/ul&gt;
			&lt;/div&gt;
			&lt;div class=&quot;col-md-9 detailsWrapper&quot;&gt;
				&lt;div class=&quot;ajax-loading hide&quot;&gt;
					&lt;i class=&quot;fa fa-refresh text-primary-light fa fa-spin fa fa-4x&quot;&gt;&lt;/i&gt;
				&lt;/div&gt;
				&lt;div class=&quot;innerAll&quot;&gt;
					&lt;div class=&quot;row&quot;&gt;
						&lt;div class=&quot;col-md-9&quot;&gt;
							&lt;h4 class=&quot;margin-none&quot;&gt;
								&lt;a href=&quot;&quot; class=&quot;btn btn-info&quot;&gt;&lt;i class=&quot;fa fa-user fa fa-fixed-width&quot;&gt;&lt;/i&gt; Bogdan&lt;/a&gt;
							&lt;/h4&gt;
						&lt;/div&gt;
						&lt;div class=&quot;col-md-3 text-right&quot;&gt;
							&lt;a href=&quot;&quot; class=&quot;text-size-regular text-primary-light vertical-middle&quot;&gt;&lt;i class=&quot;fa fa-flag fa fa-fixed-width&quot;&gt;&lt;/i&gt; Report&lt;/a&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;a href=&quot;&quot; class=&quot;load border-top &quot;&gt;Load earlier messages &lt;i class=&quot;fa fa-refresh innerL third&quot;&gt;&lt;/i&gt;&lt;/a&gt;
				
				&lt;div class=&quot;row row-merge borders border-top&quot;&gt;
					&lt;div class=&quot;col-md-12&quot;&gt;
						&lt;div class=&quot;innerAll&quot;&gt;
							&lt;div class=&quot;media&quot;&gt;
								&lt;a href=&quot;&quot; class=&quot;thumb pull-left visible-md visible-lg&quot;&gt;&lt;img data-src=&quot;holder.js/50x50/white&quot; alt=&quot;Image&quot; class=&quot;media-object&quot; /&gt;&lt;/a&gt;
								&lt;div class=&quot;media-body&quot;&gt;
									&lt;small class=&quot;pull-right text-primary-light&quot;&gt;&lt;i class=&quot;fa fa-calendar fa fa-fixed-width&quot;&gt;&lt;/i&gt; July 8, 2013 &lt;em&gt;12:38 pm&lt;/em&gt;&lt;/small&gt;
									&lt;strong class=&quot;text-primary&quot;&gt;adrian&lt;/strong&gt;&lt;br/&gt;
									&lt;small&gt;Hello bogdan. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, reiciendis soluta libero eligendi fuga quam nam tempora illum iste atque hic eveniet vel accusantium ad quisquam a sequi impedit cumque! Autem, ipsam esse officia amet.&lt;/small&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;div class=&quot;row row-merge borders border-bottom&quot;&gt;
					&lt;div class=&quot;col-md-12&quot;&gt;
						&lt;div class=&quot;innerAll&quot;&gt;
							&lt;div class=&quot;media&quot;&gt;
								&lt;a href=&quot;&quot; class=&quot;thumb pull-left visible-md visible-lg&quot;&gt;&lt;img data-src=&quot;holder.js/50x50/white&quot; alt=&quot;Image&quot; class=&quot;media-object&quot; /&gt;&lt;/a&gt;
								&lt;div class=&quot;media-body&quot;&gt;
									&lt;small class=&quot;pull-right text-primary-light&quot;&gt;&lt;i class=&quot;fa fa-calendar fa fa-fixed-width&quot;&gt;&lt;/i&gt; July 8, 2013 &lt;em&gt;12:38 pm&lt;/em&gt;&lt;/small&gt;
									&lt;strong class=&quot;text-primary&quot;&gt;bogdan&lt;/strong&gt;&lt;br/&gt;
									&lt;small&gt;Hello adrian. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, reiciendis soluta libero eligendi fuga quam nam tempora illum iste atque hic eveniet vel accusantium ad quisquam a sequi impedit cumque! Autem, ipsam esse officia amet.&lt;/small&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;

				&lt;span href=&quot;&quot; class=&quot;load&quot;&gt;&lt;i class=&quot;fa fa-calendar innerR third&quot;&gt;&lt;/i&gt;Today&lt;/span&gt;

				&lt;div class=&quot;row row-merge borders border-top&quot;&gt;
					&lt;div class=&quot;col-md-12&quot;&gt;
						&lt;div class=&quot;innerAll&quot;&gt;
							&lt;div class=&quot;media&quot;&gt;
								&lt;a href=&quot;&quot; class=&quot;thumb pull-left visible-md visible-lg&quot;&gt;&lt;img data-src=&quot;holder.js/50x50/white&quot; alt=&quot;Image&quot; class=&quot;media-object&quot; /&gt;&lt;/a&gt;
						
								&lt;div class=&quot;media-body&quot;&gt;
									&lt;small class=&quot;pull-right text-primary-light&quot;&gt;&lt;i class=&quot;fa fa-calendar fa fa-fixed-width&quot;&gt;&lt;/i&gt; &lt;em&gt;12:38 pm&lt;/em&gt;&lt;/small&gt;
									&lt;strong class=&quot;text-primary&quot;&gt;adrian&lt;/strong&gt;&lt;br/&gt;
									&lt;small&gt;Hello bogdan. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, quos soluta cupiditate dolor nobis id!&lt;/small&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;div class=&quot;row row-merge borders border-bottom&quot;&gt;
					&lt;div class=&quot;col-md-12&quot;&gt;
						&lt;div class=&quot;innerAll&quot;&gt;
							&lt;div class=&quot;media&quot;&gt;
								&lt;a href=&quot;&quot; class=&quot;thumb pull-left visible-md visible-lg&quot;&gt;&lt;img data-src=&quot;holder.js/50x50/white&quot; alt=&quot;Image&quot; class=&quot;media-object&quot; /&gt;&lt;/a&gt;
								&lt;div class=&quot;media-body&quot;&gt;
									&lt;small class=&quot;pull-right text-primary-light&quot;&gt;&lt;i class=&quot;fa fa-calendar fa fa-fixed-width&quot;&gt;&lt;/i&gt; &lt;em&gt;12:38 pm&lt;/em&gt;&lt;/small&gt;
									&lt;strong class=&quot;text-primary&quot;&gt;bogdan&lt;/strong&gt;&lt;br/&gt;
									&lt;small&gt;Hello adrian. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quas alias voluptatum odit nemo consequuntur blanditiis praesentium pariatur vitae dolore earum saepe dolorum maiores vero fuga sequi quibusdam labore optio doloribus consectetur laudantium in id quae nostrum dignissimos quidem voluptatibus!&lt;/small&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
				
				&lt;div class=&quot;innerAll&quot;&gt;
					&lt;form role=&quot;form&quot;&gt;
						&lt;div class=&quot;form-group&quot;&gt;
							&lt;textarea placeholder=&quot;Type in your message .. &quot; class=&quot;form-control&quot; rows=&quot;5&quot;&gt;&lt;/textarea&gt;
						&lt;/div&gt;
						&lt;div class=&quot;form-group&quot;&gt;
							&lt;div class=&quot;text-right&quot;&gt;
								&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Send &lt;i class=&quot;fa-fw fa fa-envelope&quot;&gt;&lt;/i&gt;&lt;/button&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/form&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		
	&lt;/div&gt;
&lt;/div&gt;
&lt;!-- // Widget END --&gt;

</pre>
											</div>

																						<div class="tab-pane" id="styles-a8a31bca32b316f6a734e97e00b477ef">

												<h4>Code</h4>
												<pre class="prettyprint">@import &quot;assets/components/modules/admin/messages/assets/less/messages.less&quot;;
@import &quot;assets/components/core/less/widgets.less&quot;;
@import &quot;assets/components/modules/admin/ui/buttons/assets/buttons.less&quot;;</pre>
												<hr class="separator"/>

												<h4>Usage</h4>
												<ol>
													<li>Create a new LESS file <em>(eg. styles.less)</em></li>
													<li>Copy &amp; paste the above imports in the LESS file.</li>
													<li>Place the file in your project's document root.</li>
													<li>
														Load the LESS file into the <code>&lt;head&gt;</code> section of your HTML document, before any JavaScript files: <p><pre class="prettyprint">&lt;link type=&quot;stylesheet/less&quot; href=&quot;styles.less&quot; /&gt;</pre>
</p>
														<p><span class="label label-danger">NOTE</span>&nbsp; All the styles from the CORE package also need to be imported in this file, before the component imports.</p>													</li>
													<li>If you'd like to include other components on the same page, don't create multiple LESS files, but add all the imports in one file. You can create a LESS file for each page with just the resources used for that specific page, or you could create and use a single LESS file for the entire project.</li>
													<li>In production, compile the LESS file and use the resulting minified CSS file in the HTML document.</li>
												</ol>

											</div>
											
																						<div class="tab-pane" id="scripts-a8a31bca32b316f6a734e97e00b477ef">

																									
													<h3>Scripts</h3>
													<p><span class="label label-default">BODY</span> You should include the following scripts at the end of the HTML document, right before the closing <code>&lt;/body&gt;</code> tag.</p>

													<pre class="prettyprint">&lt;script src=&quot;assets/components/modules/admin/messages/assets/js/messages.js?v=v1.2.3&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;assets/components/plugins/holder/holder.js?v=v1.2.3&quot;&gt;&lt;/script&gt;</pre>

											</div>
											
										</div>
									</div>
								</div>
								<div class="separator bottom"></div>
							</div>
										</div>
		</div>
	</div>
</div>
</div>


	<!-- Global -->
	<script>
	var basePath = '',
		commonPath = '../assets/',
		rootPath = '../',
		DEV = false,
		componentsPath = '../assets/components/';
	
	var primaryColor = '#cb4040',
		dangerColor = '#b55151',
		successColor = '#8baf46',
		warningColor = '#ab7a4b',
		inverseColor = '#45484d';
	
	var themerPrimaryColor = primaryColor;
	</script>

	<script src="../assets/components/library/bootstrap/js/bootstrap.min.js?v=v1.2.3"></script>
<script src="../assets/components/plugins/slimscroll/jquery.slimscroll.js?v=v1.2.3"></script>
<script src="../assets/components/modules/admin/messages/assets/js/messages.js?v=v1.2.3"></script>
<script src="../assets/components/plugins/holder/holder.js?v=v1.2.3"></script>
<script src="../assets/components/modules/docs/docs/assets/angular/app/ng.app.js?v=v1.2.3"></script>
<script src="../assets/components/modules/docs/assets/angular/filters/ng.filter.isarray.js?v=v1.2.3"></script>
<script src="../assets/components/modules/docs/assets/angular/controllers/ng.ctrl.components.js?v=v1.2.3"></script>
<script src="../assets/components/modules/docs/docs/assets/angular/directives/ng.docs.directive.components.js?v=v1.2.3"></script>
<script src="../assets/components/plugins/prettyprint/assets/js/prettify.js?v=v1.2.3"></script>
<script src="../assets/components/core/js/core.init.js?v=v1.2.3"></script>
</body>
</html>