/*
****************************
* Change placeholder color
****************************
*/
input::-webkit-input-placeholder {
    color: #81A594 !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #81A594 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #81A594 !important;
}

input:-ms-input-placeholder {
    color: #81A594 !important;
}

textarea::-webkit-input-placeholder {
    color: #81A594 !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
    color: #81A594 !important;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #81A594 !important;
}

textarea:-ms-input-placeholder {
    color: green !important;
}


/* hr */

hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}